# -*- coding: utf-8 -*-

from knext.core.builder.job.model.builder_job import BuilderJob
from knext.api.component import CSVReader, SPGTypeMapping, KGWriter
from schema.${helper} import ${namespace}

class Demo(BuilderJob):

    def build(self):
        source = CSVReader(
            local_path="./builder/job/data/Demo.csv",
            columns=["id", 'prop'],
            start_row=2
        )

        mapping = SPGTypeMapping(
            spg_type_name=${namespace}.Demo
        ).add_field("id", ${namespace}.Demo.id) \
            .add_field("prop", ${namespace}.Demo.demoProperty)

        sink = KGWriter()

        return source >> mapping >> sink
