<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2023 Ant Group CO., Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License
  ~ is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
  ~ or implied.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antgroup.openspg.cloudext.impl.repository.jdbc.mapper.SemanticDOMapper">
  <resultMap id="BaseResultMap" type="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
    <result column="semantic_type" jdbcType="VARCHAR" property="semanticType" />
    <result column="original_resource_id" jdbcType="VARCHAR" property="originalResourceId" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="subject_meta_type" jdbcType="VARCHAR" property="subjectMetaType" />
    <result column="object_meta_type" jdbcType="VARCHAR" property="objectMetaType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDO">
    <result column="config" jdbcType="LONGVARCHAR" property="config" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, resource_id, semantic_type, original_resource_id, resource_type, 
    status, rule_id, subject_meta_type, object_meta_type
  </sql>
  <sql id="Blob_Column_List">
    config
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kg_ontology_semantic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${@com.antgroup.openspg.cloudext.impl.repository.jdbc.SecurityUtils@trimSql4OrderBy(orderByClause)}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kg_ontology_semantic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${@com.antgroup.openspg.cloudext.impl.repository.jdbc.SecurityUtils@trimSql4OrderBy(orderByClause)}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kg_ontology_semantic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kg_ontology_semantic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDOExample">
    delete from kg_ontology_semantic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDO">
    insert into kg_ontology_semantic (id, gmt_create, gmt_modified, 
      resource_id, semantic_type, original_resource_id, 
      resource_type, status, rule_id, 
      subject_meta_type, object_meta_type, config
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{resourceId,jdbcType=VARCHAR}, #{semanticType,jdbcType=VARCHAR}, #{originalResourceId,jdbcType=VARCHAR}, 
      #{resourceType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{ruleId,jdbcType=VARCHAR}, 
      #{subjectMetaType,jdbcType=VARCHAR}, #{objectMetaType,jdbcType=VARCHAR}, #{config,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDO">
    insert into kg_ontology_semantic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="semanticType != null">
        semantic_type,
      </if>
      <if test="originalResourceId != null">
        original_resource_id,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="subjectMetaType != null">
        subject_meta_type,
      </if>
      <if test="objectMetaType != null">
        object_meta_type,
      </if>
      <if test="config != null">
        config,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="semanticType != null">
        #{semanticType,jdbcType=VARCHAR},
      </if>
      <if test="originalResourceId != null">
        #{originalResourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="subjectMetaType != null">
        #{subjectMetaType,jdbcType=VARCHAR},
      </if>
      <if test="objectMetaType != null">
        #{objectMetaType,jdbcType=VARCHAR},
      </if>
      <if test="config != null">
        #{config,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDOExample" resultType="java.lang.Long">
    select count(*) from kg_ontology_semantic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kg_ontology_semantic
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resourceId != null">
        resource_id = #{record.resourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.semanticType != null">
        semantic_type = #{record.semanticType,jdbcType=VARCHAR},
      </if>
      <if test="record.originalResourceId != null">
        original_resource_id = #{record.originalResourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceType != null">
        resource_type = #{record.resourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.ruleId != null">
        rule_id = #{record.ruleId,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectMetaType != null">
        subject_meta_type = #{record.subjectMetaType,jdbcType=VARCHAR},
      </if>
      <if test="record.objectMetaType != null">
        object_meta_type = #{record.objectMetaType,jdbcType=VARCHAR},
      </if>
      <if test="record.config != null">
        config = #{record.config,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update kg_ontology_semantic
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      resource_id = #{record.resourceId,jdbcType=VARCHAR},
      semantic_type = #{record.semanticType,jdbcType=VARCHAR},
      original_resource_id = #{record.originalResourceId,jdbcType=VARCHAR},
      resource_type = #{record.resourceType,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      rule_id = #{record.ruleId,jdbcType=VARCHAR},
      subject_meta_type = #{record.subjectMetaType,jdbcType=VARCHAR},
      object_meta_type = #{record.objectMetaType,jdbcType=VARCHAR},
      config = #{record.config,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kg_ontology_semantic
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      resource_id = #{record.resourceId,jdbcType=VARCHAR},
      semantic_type = #{record.semanticType,jdbcType=VARCHAR},
      original_resource_id = #{record.originalResourceId,jdbcType=VARCHAR},
      resource_type = #{record.resourceType,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      rule_id = #{record.ruleId,jdbcType=VARCHAR},
      subject_meta_type = #{record.subjectMetaType,jdbcType=VARCHAR},
      object_meta_type = #{record.objectMetaType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDO">
    update kg_ontology_semantic
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="semanticType != null">
        semantic_type = #{semanticType,jdbcType=VARCHAR},
      </if>
      <if test="originalResourceId != null">
        original_resource_id = #{originalResourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="subjectMetaType != null">
        subject_meta_type = #{subjectMetaType,jdbcType=VARCHAR},
      </if>
      <if test="objectMetaType != null">
        object_meta_type = #{objectMetaType,jdbcType=VARCHAR},
      </if>
      <if test="config != null">
        config = #{config,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDO">
    update kg_ontology_semantic
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      resource_id = #{resourceId,jdbcType=VARCHAR},
      semantic_type = #{semanticType,jdbcType=VARCHAR},
      original_resource_id = #{originalResourceId,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      rule_id = #{ruleId,jdbcType=VARCHAR},
      subject_meta_type = #{subjectMetaType,jdbcType=VARCHAR},
      object_meta_type = #{objectMetaType,jdbcType=VARCHAR},
      config = #{config,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.antgroup.openspg.cloudext.impl.repository.jdbc.dataobject.SemanticDO">
    update kg_ontology_semantic
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      resource_id = #{resourceId,jdbcType=VARCHAR},
      semantic_type = #{semanticType,jdbcType=VARCHAR},
      original_resource_id = #{originalResourceId,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      rule_id = #{ruleId,jdbcType=VARCHAR},
      subject_meta_type = #{subjectMetaType,jdbcType=VARCHAR},
      object_meta_type = #{objectMetaType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>