<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2023 OpenSPG Authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License
  ~ is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
  ~ or implied.
  -->

<Configuration>

  <springProperty scope="context" name="appname" source="spring.application.name"/>
  <springProperty scope="context" name="logging.path" source="logging.path"/>
  <springProperty scope="context" name="logging.level" source="logging.level.com.alipay.sofa"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d [%X{traceId}] [%X{rpcId}] [%t] %-5p %c{2} - %m%n</Pattern>
    </encoder>
  </appender>

  <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>error</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${logging.path}/${appname}/common-error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logging.path}/${appname}/common-error.log.%d{yyyy-MM-dd}</FileNamePattern>
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d [%X{traceId}] [%X{rpcId}] [%t] %-5p %c{2} - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="ROOT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>${logging.level}</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${logging.path}/${appname}/common-default.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logging.path}/${appname}/common-default.log.%d{yyyy-MM-dd}
      </FileNamePattern>
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d [%X{traceId}] [%X{rpcId}] [%t] %-5p %c{2} - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="REASONER-RUNNER-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>${logging.level}</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${logging.path}/${appname}/reasoner-runner.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logging.path}/${appname}/reasoner-runner.log.%d{yyyy-MM-dd}
      </FileNamePattern>
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d [%X{traceId}] [%X{rpcId}] [%t] %-5p %c{2} - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

<!--
  <appender name="OPENSPGAPP-DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <file>${logging.path}/${appname}/openspgapp-default.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logging.path}/${appname}/openspgapp-default.log.%d{yyyy-MM-dd}
      </FileNamePattern>
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d [%X{traceId}] [%X{rpcId}] [%t] %-5p %c{2} - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
-->

  <!-- 特定类的文件输出 -->
  <appender name="COMPLETION" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logging.path}/${appname}/completions.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logging.path}/${appname}/completions.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.alipay.sofa" level="${logging.level}" additivity="false">
    <appender-ref ref="ROOT-APPENDER"/>
    <appender-ref ref="ERROR-APPENDER"/>
  </logger>

  <!--<logger name="com.antgroup.openspgapp" level="${logging.level}" additivity="false">
    <appender-ref ref="OPENSPGAPP-DEFAULT-APPENDER"/>
    <appender-ref ref="ERROR-APPENDER"/>
  </logger>-->

  <logger name="com.antgroup.openspg.reasoner" level="${logging.level}" additivity="false">
    <appender-ref ref="REASONER-RUNNER-APPENDER"/>
    <appender-ref ref="ERROR-APPENDER"/>
  </logger>

  <!-- 特定类的日志配置 -->
  <logger name="com.antgroup.openspgapp.core.reasoner.service.impl" level="${logging.level}" additivity="false">
    <appender-ref ref="COMPLETION" />
  </logger>

  <root level="${logging.level}">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="ROOT-APPENDER"/>
    <appender-ref ref="ERROR-APPENDER"/>
  </root>
</Configuration>
