<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2023 OpenSPG Authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License
  ~ is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
  ~ or implied.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antgroup.openspg.server.infra.dao.mapper.OntologyExtDOMapper">
    <resultMap id="BaseResultMap" type="com.antgroup.openspg.server.infra.dao.dataobject.OntologyExtDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
        <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
        <result column="ext_type" jdbcType="VARCHAR" property="extType" />
        <result column="field" jdbcType="VARCHAR" property="field" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="config" jdbcType="LONGVARCHAR" property="config" />
    </resultMap>

    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, resource_id, resource_type, ext_type, field, creator,
        modifier, status, config
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap" useCache="false">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        select
        <include refid="Base_Column_List" />
        from kg_ontology_ext
        where id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectByCondition" resultMap="BaseResultMap" useCache="false">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        select   <include refid="Base_Column_List" /> from kg_ontology_ext
        <trim prefix="where" prefixOverrides="and">
            <if test="record.gmtCreate != null">
                gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="record.gmtModified != null">
                and gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="record.resourceId != null">
                and resource_id = #{record.resourceId,jdbcType=VARCHAR}
            </if>
            <if test="record.resourceType != null">
                and resource_type = #{record.resourceType,jdbcType=VARCHAR}
            </if>
            <if test="record.extType != null">
                and ext_type = #{record.extType,jdbcType=VARCHAR}
            </if>
            <if test="record.field != null">
                and field = #{record.field,jdbcType=VARCHAR}
            </if>
            <if test="record.creator != null">
                and creator = #{record.creator,jdbcType=VARCHAR}
            </if>
            <if test="record.modifier != null">
                and modifier = #{record.modifier,jdbcType=VARCHAR}
            </if>
            <if test="record.status != null">
                and status = #{record.status,jdbcType=INTEGER}
            </if>
            <if test="record.config != null">
                and config = #{record.config,jdbcType=LONGVARCHAR}
            </if>
        </trim>
        order by id desc limit #{start}, #{size}
    </select>


    <select id="selectCountByCondition" parameterType="com.antgroup.openspg.server.infra.dao.dataobject.OntologyExtDO" resultType="java.lang.Integer" useCache="false">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        select count(*) from kg_ontology_ext
        <trim prefix="where" prefixOverrides="and">
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="resourceId != null">
                and resource_id = #{resourceId,jdbcType=VARCHAR}
            </if>
            <if test="resourceType != null">
                and resource_type = #{resourceType,jdbcType=VARCHAR}
            </if>
            <if test="extType != null">
                and ext_type = #{extType,jdbcType=VARCHAR}
            </if>
            <if test="field != null">
                and field = #{field,jdbcType=VARCHAR}
            </if>
            <if test="creator != null">
                and creator = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="modifier != null">
                and modifier = #{modifier,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="config != null">
                and config = #{config,jdbcType=LONGVARCHAR}
            </if>
        </trim>
    </select>


    <select id="selectByIds" resultMap="BaseResultMap" useCache="false">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        select   <include refid="Base_Column_List" /> from kg_ontology_ext where id in
        <foreach close=")" collection="ids" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        delete from kg_ontology_ext
        where id = #{id,jdbcType=BIGINT}
    </delete>


    <delete id="deleteByIds">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        delete from kg_ontology_ext where id in
        <foreach close=")" collection="ids" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>


    <insert id="insert" parameterType="com.antgroup.openspg.server.infra.dao.dataobject.OntologyExtDO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into kg_ontology_ext (gmt_create, gmt_modified, resource_id,
        resource_type, ext_type, field,
        creator, modifier, status,
        config)
        values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{resourceId,jdbcType=VARCHAR},
        #{resourceType,jdbcType=VARCHAR}, #{extType,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{config,jdbcType=LONGVARCHAR})
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.antgroup.openspg.server.infra.dao.dataobject.OntologyExtDO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jun 11 14:39:49 CST 2022.
        -->
        update kg_ontology_ext
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="resourceId != null">
                resource_id = #{resourceId,jdbcType=VARCHAR},
            </if>
            <if test="resourceType != null">
                resource_type = #{resourceType,jdbcType=VARCHAR},
            </if>
            <if test="extType != null">
                ext_type = #{extType,jdbcType=VARCHAR},
            </if>
            <if test="field != null">
                field = #{field,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="config != null">
                config = #{config,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByUk" resultMap="BaseResultMap" useCache="false">
        select   <include refid="Base_Column_List" /> from kg_ontology_ext
        where resource_id = #{resourceId} and resource_type = #{resourceType}
        and ext_type = #{extType} and field = #{field} and status = 1
    </select>

    <select id="getExtInfoListByIds" resultMap="BaseResultMap" useCache="false">
        select
        <include refid="Base_Column_List" />
        from kg_ontology_ext
        where resource_id in
        <foreach close=")" collection="resourceIds" item="item" open="(" separator=",">
            #{item}
        </foreach>
        <if test="resourceType != null">
            and resource_type = #{resourceType}
        </if>
        <if test="extType != null">
            and ext_type = #{extType}
        </if>
        and field = #{field} and status = 1
    </select>

    <select id="selectByIdAndType" resultMap="BaseResultMap" useCache="false">
        select   <include refid="Base_Column_List" /> from kg_ontology_ext
        where resource_id = #{resourceId} and resource_type = #{resourceType}
        and status = 1
    </select>

    <delete id="deleteByUk">
        delete from kg_ontology_ext
        where resource_id = #{resourceId} and resource_type = #{resourceType}
        and ext_type = #{extType} and field = #{field}
    </delete>

    <update id="updateConfig">
        update kg_ontology_ext set
        config = #{config},
        gmt_modified = now(),
        modifier = #{userId}
        where resource_id = #{resourceId} and resource_type = #{resourceType}
        and ext_type = #{extType} and field = #{field}
    </update>


    <insert id="batchInsert">
        insert into kg_ontology_ext (gmt_create, gmt_modified, resource_id, resource_type, ext_type, field, creator, modifier, status, config)
        values
        <foreach collection ="records" item="item" separator =",">
            (#{item.gmtCreate,jdbcType=TIMESTAMP},
            #{item.gmtModified,jdbcType=TIMESTAMP},
            #{item.resourceId,jdbcType=VARCHAR},
            #{item.resourceType,jdbcType=VARCHAR},
            #{item.extType,jdbcType=VARCHAR},
            #{item.field,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.modifier,jdbcType=VARCHAR},
            #{item.status,jdbcType=INTEGER},
            #{item.config,jdbcType=LONGVARCHAR}
            )
        </foreach >
    </insert>
</mapper>