<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2023 Ant Group CO., Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License
  ~ is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
  ~ or implied.
  -->

<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MyBatis3Tables" targetRuntime="MyBatis3">
        <!--覆盖生成XML文件-->
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin"/>

        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/openspg?useUnicode=true&amp;characterEncoding=utf8"
                        userId="root"
                        password="openspg">
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.antgroup.openspg.server.infra.dao.dataobject"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.antgroup.openspg.server.infra.dao.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="kg_project_info" domainObjectName="ProjectDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_biz_domain" domainObjectName="TenantDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_data_source" domainObjectName="DataSourceDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_data_source_usage" domainObjectName="DataSourceUsageDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_sys_lock" domainObjectName="SysLockDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_operator_overview" domainObjectName="OperatorOverviewDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_operator_version" domainObjectName="OperatorVersionDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_ontology_entity" domainObjectName="OntologyDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_ontology_entity_parent" domainObjectName="OntologyParentRelDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_ontology_entity_property_range" domainObjectName="OntologyPropertyDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_project_entity" domainObjectName="ProjectOntologyRelDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_ontology_semantic" domainObjectName="SemanticDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_semantic_rule" domainObjectName="LogicRuleDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_ontology_property_constraint" domainObjectName="ConstraintDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_ontology_release" domainObjectName="ReleaseDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
        </table>
        <table tableName="kg_spg_job_info" domainObjectName="SPGJobInfoDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_spg_job_inst" domainObjectName="SPGJobInstDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_schedule_job_info" domainObjectName="JobInfoDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
        <table tableName="kg_schedule_job_inst" domainObjectName="JobInstDO">
            <property name="ignoreQualifiersAtRuntime" value="true"/>
            <generatedKey column="id" sqlStatement="SELECT LAST_INSERT_ID()" identity="true"/>
        </table>
    </context>
</generatorConfiguration>
