
```bash
knext project create --name {{project_name}} --namespace {{namespace}} --desc {{description}}
```

```bash
knext schema commit
```

```bash
knext builder execute Company
```

```bash
knext reasoner execute --file ./reasoner/company.dsl
```
