
```bash
knext project create --name ${project_name} --namespace ${namespace} --desc ${description}
```

```bash
knext schema commit
```

```bash
knext operator publish DemoExtractOp
```

```bash
knext builder submit Demo
```

```bash
knext reasoner query --file ./reasoner/demo.dsl
```