
```bash
knext project create --name {{project_name}} --namespace {{namespace}} --desc {{description}}
```

```bash
knext schema commit
```

```bash
knext builder execute Demo
```

```bash
knext reasoner query --file ./reasoner/demo.dsl
```
